body{
    background-image: linear-gradient(to right,#02129c , #86cdfd);
}



.logindiv{
    height: 300px;
    width: 400px;
    background-color:white;
    align-items: center;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 10px;

}
.items{
    margin-top: 8%;
    display: inline-block;
}

input{
    margin-top:10%;
    height: 30px;
    width: 200px;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    
}
.submit{
    width:80px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-image: linear-gradient(to bottom,#031EFF , #86cdfd);
    color: white;

}

.register{
    outline: none;
    text-decoration: none;
    color: #27001b;
    font-weight: bold;
}